#cube {
  position: relative;
  margin: auto auto;
  height: 640px;
  width: 640px;
  -webkit-transition: -webkit-transform 2s linear;
  -webkit-transform-style: preserve-3d;

  -moz-transition: -moz-transform 2s linear;
  -moz-transform-style: preserve-3d;
}

.face {
  position: absolute;
  height: 600px;
  width: 600px;
  padding: 30px;
  background-color: rgba(50, 50, 50, 1.0);
  font-size: 27px;
  line-height: 1em;
  color: #fff;
  border: 1px solid #555;
  border-radius: 3px;
}   

#cube .one {
  -webkit-transform: translateZ(280px);
  -moz-transform: translateZ(280px);
}

#cube .two {
  -webkit-transform: rotateY(90deg) translateZ(280px);
  -moz-transform: rotateY(90deg) translateZ(280px);
}

#cube .three {
  -webkit-transform: rotateY(180deg) translateZ(280px);
  -moz-transform: rotateY(180deg) translateZ(280px);
}

#cube .four {
  -webkit-transform: rotateY(-90deg) translateZ(280px);
  -moz-transform: rotateY(-90deg) translateZ(280px);
}

ul.byline 
{
	padding: 0;
	marign: 0;
	width: 100%;
}
ul.byline a
{
	color: white;
}
ul.byline a:hover
{
	color: gray;
}
ul.byline li
{
	list-style-type: none; 
	display: inline-block;
	text-align: center;
	font-size: 80%;
}
ul.byline li:first-of-type
{
	text-align: left;
	margin-right: 14%;
}
ul.byline li:last-of-type
{
	text-align: right;
	float: right;
}